@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Major+Mono+Display&family=Syne+Mono&family=The+Girl+Next+Door&family=Yomogi&display=swap");

.font-MajorMonoDisplay {
  font-family: "Major Mono Display", monospace;
}

.font-BadScript {
  font-family: "Bad Script", cursive;
}

.font-TheGirlNextDoor {
  font-family: "The Girl Next Door", cursive;
}

.font-Yomogi {
  font-family: "Yomogi", cursive;
}

/* Scrollbar */

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.25rem;
}

.scrollbar-track::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-neutral-900;
}

.scrollbar-thumb::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-neutral-700;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  @apply rounded-xl;
  width: 10px;
  left: -100px;
  background-color: rgba(10, 68, 78, 0.212);
}

/** about **/
.about-summary {
  background-color: aqua;
  z-index: 100000;
}

.star {
  background-color: black;
  position: absolute;
  width: 1px;
  transform: rotate(45deg);
  animation-name: stars_animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  @keyframes stars_animation {
    0% {
      left: 100%;
      top: 0%;
      height: 0%;
    }

    50% {
      top: -20%;
      left: 50%;
      height: 140%;
    }
    100% {
      left: 0%;
      top: 100%;
      height: 0%;
    }
  }
}
